.fondologin{


    --ion-background-color:  radial-gradient(circle at 50% -20.71%, #022428 0, #061e1f 12.5%, #061817 25%, #030f0d 37.5%, #000000 50%, #000000 62.5%, #000000 75%, #000000 87.5%, #000000 100%);
    }
    ion-card {
    
    box-shadow: none;
    border-radius: 12px;
    
    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}

.swiper-slide-active {
    transform: scale(1.05, 1.05);

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}

p{  
    text-align: justify;
    color: white;
}

.icon {
    
    width:80px;
  }

  .titulo{
    color: white;
}

.uno{
    background-color:  #1c1c1d;
}

ion-card-title{
    color: white;
    font-size: 20px;
}
