<ion-header>
  <ion-toolbar>
    <ion-img src="assets/icon3.png " slot="end" class="icon"></ion-img>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Back" color="primary" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding fondologin">
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/estres.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>¿Que es el estrés?</ion-card-title>
          <p>Es un sentimiento de tensión física o emocional.
            Puede provenir de cualquier situación o pensamiento que lo haga sentir a uno frustrado, furioso o nervioso.
          </p>
          <ion-button
            href="https://medlineplus.gov/spanish/ency/article/003211.htm#:~:text=El%20estr%C3%A9s%20es%20un%20sentimiento,uno%20frustrado%2C%20furioso%20o%20nervioso.">
            Ver más</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/estres.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>Como manejarlo</ion-card-title>
          <p>El primer paso para manejar el estrés es reconocer la presencia del estrés en su vida. Todo el mundo
            experimenta el estrés de manera diferente.
            Es posible que se enoje o esté irritable, que no pueda dormir o que sufra dolores de cabeza o malestar
            estomacal. </p>
          <ion-button
            href="https://medlineplus.gov/spanish/ency/article/003211.htm#:~:text=El%20estr%C3%A9s%20es%20un%20sentimiento,uno%20frustrado%2C%20furioso%20o%20nervioso.">
            Ver más</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/estres.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title class="titulo">Tips para manejar el estrés</ion-card-title>
          <p>-Duerma lo suficiente.</p>
          <p>-Haga cosas que le guste.</p>
          <p>-Haga ejercicio.</p>
          <p>-Evitar situaciones estresantes.</p>
          <p>-Evitar el aliviar el estrés de manera poco saludables.</p>
          <ion-button
          href="https://medlineplus.gov/spanish/ency/article/003211.htm#:~:text=El%20estr%C3%A9s%20es%20un%20sentimiento,uno%20frustrado%2C%20furioso%20o%20nervioso.">
          Ver más</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/depresion.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>¿Que es la depresión?</ion-card-title>
          <p>es un trastorno emocional que causa un sentimiento de tristeza constante
            y una pérdida de interés en realizar diferentes actividades.</p>
            <ion-button href="https://medlineplus.gov/spanish/depression.html">Ver más</ion-button>
          </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/depresion.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>Como detectarlo</ion-card-title>
          <p>-Sentirse triste o "vacío".</p>
          <p>-Aumento o pérdida del apetito.</p>
          <p>-Dolores de cabeza, calambres o problemas digestivos.</p>
          <p>-Pérdida de interés en sus actividades favoritas.</p>
          <p>-Ideas de muerte o de suicidio.</p>
          <ion-button href="https://medlineplus.gov/spanish/depression.html">Ver más</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="uno">
        <ion-card-header class="uno">
          <ion-img src="assets/depresion.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>Tips para manejar la depresión</ion-card-title>
          <p>-Yoga.</p>
          <p>-Meditación.</p>
          <p>-Terapias de conversación.</p>
          <p>-No abusar del alcohol u otras drogas.</p>
          <p>-Salir a caminar con amigos o visitar familiares.</p>
          <p>Medicina antidepresivas.</p>
          <ion-button href="https://medlineplus.gov/spanish/depression.html">Ver más</ion-button>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>


  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/relajacion.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>Relacionados</ion-card-title>
          <p>Aqui encontraras variados libros para superar problemas mentales o musica para relajarse.</p>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/libro1.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>El Demonio de la depresión</ion-card-title>
          <p>Este libro es un clásico, una obra fundamental, que fue finalista del Pulitzer y logró el National Book
            Award.
            Solomon explica con exhaustividad –pero sin perder nunca el punto divulgativo– qué es la depresión, cómo se
            trata, cuál es la eficacia de las terapias alternativas y qué impacto ha tenido la enfermedad a lo largo de
            la historia. Lo hace desde su propia experiencia y habiendo realizado muchas entrevistas (enfermos,
            científicos, políticos...).
            Muy elegante y educativo, se convierte en una lectura esencial en el campo de la salud mental.</p>
        </ion-card-header>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header class="uno">
          <ion-img src="assets/libro2.jfif " width="300px" height="300px"></ion-img>
          <ion-card-title>El Estrés</ion-card-title>
          <p>Cómo detectarlo y controlarlo para mejorar la salud
            El estrés es una respuesta normal del organismo frente a las demandas del entorno,
            pero cuando estas se convierten en amenazas constantes, podemos poner en peligro nuestra salud.</p>
        </ion-card-header>

      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card href="https://www.youtube.com/watch?v=DNrnDx-KZUY" target="_blank">
        <ion-card-header class="uno">
          <ion-img src="assets/riomusica.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>Música de relajación</ion-card-title>
          <p>Musicar para relajarse y controlar la ira.</p>
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card href="https://www.youtube.com/watch?v=22i6SofLVRY" target="_blank">
        <ion-card-header class="uno">
          <ion-img src="assets/monjemed.jpg " width="300px" height="300px"></ion-img>
          <ion-card-title>Música Zen</ion-card-title>
          <p>Música para meditar, Equilibrio y paz mental.</p>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>