<ion-header>
  <ion-toolbar>
    
    <ion-img src="assets/icon3.png " slot="end" class="icon"></ion-img>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="dark">
        <ion-icon slot="icon-only" name="menu-outline">
        </ion-icon>
               
      </ion-button>
    </ion-buttons>
    <ion-title>Point Mental</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content class="ion-padding fondologin">
 
 <ion-card >
  <ion-card-header >
    <ion-img src="assets/paz.png "></ion-img>
    <ion-card-title>La salud mental es lo primero</ion-card-title>
  </ion-card-header>

  <ion-card-content >
    Con esta app encontraras informacion y tips para cuidar tu salud mental en estos tiempos de pandemia.
  </ion-card-content>
</ion-card>
</ion-content>
