.fondologin{


    --ion-background-color:  radial-gradient(circle at 50% -20.71%, #022428 0, #061e1f 12.5%, #061817 25%, #030f0d 37.5%, #000000 50%, #000000 62.5%, #000000 75%, #000000 87.5%, #000000 100%);
    text-align: center


    }

.pini{
    color: darkgrey;
    font-size: 8px;
    text-align: end;
}    
/*
    ion-button {
        --color: #222;
      }

      .fancy-button {
        --background: #00ff00;   }  
*/
ion-title{
    font-size: 15px;
}



.icon {
    
    width:100px;
  }

.uno{
    background-color:  #1c1c1d;
}

.titulo{
    color: white;
}

ion-card-title{
    color: white;
    font-size: 20px;
}